html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.movie-card {
    width: auto;
    max-height: 70px;
    overflow: scroll;
}

.main-content {
    flex: 1;
}

.ms-footer {
    background-color: #202020;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.ms-footer-bottom {
    background-color: #2E2E2E;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.bg-index {
  background: url('../img/background.jpg') no-repeat fixed;
  background-size: 100% auto;
}

.navbar a.nav-link {
  color: #FFFEF6 !important;
}

.bg-dark {
  background-color: #2E2E2E !important;
}

.ms-footer {
  background-color: #202020;
}

.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}

.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}

.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom a:hover {
  color: #fff;
}

.img-card-200 {
  width: fit-content;
  max-height: 200px;
}

.img-card-400 {
  width: fit-content;
  max-height: 400px;
  max-width: 300px;
}

.movie-footer {
    position: fixed;
}
